<section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" 
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
     crossorigin="anonymous" referrerpolicy="no-referrer" />
    <h1 class="text-center">Service</h1>
    <div class="container pt-4">
        <div class="row">
            <div class="col-sm-8">
                <img src="/../assets/img_service/img4.png" alt="" class="w-100">
            </div>

            <div class="col-sm-4 bg-white">
                <h3 class="text-black pt-4 px-2">All Service</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Delicious Food</li>
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Parking Area</li>
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Swimming Pool</li>
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Spa Salon</li>
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Exercise Space</li>
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Free Wifi</li>
                    <li class="list-group-item p-3"><i class="fa-solid fa-chevron-right"></i> Breakfast</li>
                  </ul> 
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="container-fluid pt-5">
                    <h2>The K Hotel & Resort</h2>
                    <p>Có rất nhiều biến thể của các đoạn văn trong Lorem Ipsum, nhưng phần lớn đều đã được thay đổi dưới một hình thức nào đó, bằng cách thêm vào sự hài hước hoặc những từ ngẫu nhiên trông không đáng tin chút nào. Nếu bạn định sử dụng một đoạn văn của Lorem Ipsum, bạn cần chắc chắn rằng không có điều gì đáng xấu hổ ẩn ở giữa văn bản. Tất cả các trình tạo Lorem Ipsum trên Internet đều có xu hướng lặp lại các đoạn được xác định trước khi cần thiết, khiến đây trở thành trình tạo thực sự đầu tiên trên Internet.</p>
                    <p>Nó sử dụng một từ điển gồm hơn 200 từ tiếng Latinh, kết hợp với một số cấu trúc câu mẫu, để tạo ra Lorem Ipsum trông hợp lý. Do đó, Lorem Ipsum được tạo ra luôn không bị lặp lại, không có sự hài hước, chắc chắn không có điều gì đáng xấu hổ ẩn giữa văn bản. Tất cả các trình tạo Lorem Ipsum trên Internet đều có xu hướng lặp lại được xác định trước.</p>
                </div>
            </div>

            <div class="col-md-4 bg-secondary-subtle mt-5">
                <h3 class="text-black pt-4 ps-3">Newsletter</h3>
                <h4 class="text-black pt-4 ps-3" >Join 20,000 Sabscribers!</h4>
                <div class=" mb-3 pt-4 px-3">
                    <input type="email" class="form-control py-3" id="floatingInput" placeholder="Email adress">
                </div>
                <div class="container">
                    <a routerLink='Register' class="btn btn-danger w-100">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-4">
        <h3>Why Choose This Service</h3>
        <div class="row pt-4">
            <div class="col-md-3 bg-light text-center rounded ms-4">
                <p class="text-danger display-1"><i class="fa-solid fa-bowl-rice"></i></p>
                <p class="text-black">Delicious Food</p>
                <p class="text-secondary">Excepteur sint occaecat proident, sunt in culpa mollit est aborum.</p>
            </div>
            <div class="col-md-3 bg-light text-center rounded ms-4">
                <p class="text-danger display-1"><i class="fa-solid fa-person-swimming"></i></p>
                <p class="text-black">Swimming Pool</p>
                <p class="text-secondary">Excepteur sint occaecat proident, sunt in culpa mollit est aborum.</p>
            </div>
            <div class="col-md-3 bg-light text-center rounded ms-4">
                <p class="text-danger display-1"><i class="fa-solid fa-location-dot"></i></p>
                <p class="text-black">Parking Area</p>
                <p class="text-secondary">Excepteur sint occaecat proident, sunt in culpa mollit est aborum.</p>
            </div>
        </div>
    </div>

    <div class="container pt-5">
        <h2 class="d-inline">Gói phòng và dịch vụ ưu đãi</h2>
        <p class="float-end pt-2">Xem chi tiết</p>
        <div class="row ps-5 pt-4">
            <div class="col-md-4">
                <div class="card rounded-0" style="width: 18rem;">
                    <img src="/../assets/img_service/img1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">KỲ NGHỈ Mùa lễ</h5>
                      <p class="card-text">Khám phá các quyền lợi khác nhau của LOTTE HOTELS & RESORTS! bao gồm rất nhiều dịch vụ và rất nhiều ưu đãi đang chờ bạn trong kì nghỉ....</p>
                      <a href="#" class="btn btn-primary">GO TO OFFERS</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded-0" style="width: 18rem;">
                    <img src="/../assets/img_service/img2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">GÓI DỊCH VỤ BED&BREAKFAST</h5>
                      <p class="card-text">chúng tôi đã chuẩn bị những ưu đãi trong đó đã bao gồm bữa sáng để quý khách có thể tận hưởng kỳ nghỉ thật thư thái tại khách sạn.</p>
                      <a href="#" class="btn btn-primary">GO TO OFFERS</a>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="card rounded-0" style="width: 18rem;">
                    <img src="/../assets/img_service/img3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">LOTTE HOTEL REWARDS ONLY</h5>
                      <p class="card-text">Tìm phòng tại LOTTE HOTELS & RESORTS trên toàn thế giới với mức giá đặc biệt dành cho các thành viên</p>
                      <a href="#" class="btn btn-primary">GO TO OFFERS</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
