<footer id="footer" class="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>KBooking</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by Nhóm 11
      </div>
      <div class="credits">
        Đỗ Ngọc Dũng, Hoàng Kim Tấn, Đậu Bá Hoàng Quân
      </div>

      <div class="credits">
        <div class="header-social-links">
          <a href="#" class="twitter me-2"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook me-2"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram me-2"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin me-2"><i class="bi bi-linkedin"></i></a>
        </div>
        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      </div>
      
    </div>
    
  </footer>