<section id="hero" class="" data-aos="fade" data-aos-delay="1500">
  <div class="container-fluid">
    <div id="carouselExampleIndicators" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/../assets/img_home_page/img_slider_1.png" class="d-block w-100" alt="..." height="562px">
        </div>
        <div class="carousel-item">
          <img src="/../assets/img_home_page/img_slider_2.png" class="d-block w-100" alt="..." height="562px">
        </div>
        <div class="carousel-item">
          <img src="/../assets/img_home_page/img_slider_3.jpg" class="d-block w-100" alt="..." height="562px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="container pt-5">
    <div class="row">
      <div class="col-md-6">
        <h2><span>KBooking</span></h2>
        <h2> Nơi trải nghiệm đặt phòng tiện lợi và linh hoạt</h2>
        <p>Tại trang web của chúng tôi - nơi bạn có thể khám phá và đặt chỗ tại hàng ngàn điểm đến trên khắp lãnh thổ
          đất nước Việt Nam. Với giao diện trực quan và thuận tiện, chúng tôi cam kết mang đến cho bạn trải nghiệm đặt
          phòng mượt mà và đáng tin cậy.</p>
        <a routerLink='Register' class="btn btn-success">Đăng ký</a>


      </div>
      <div class="col-md-6">
        <img src="/../assets/img_home_page/img_slider_1.png" alt="" class="w-100">
      </div>
    </div>
  </div>

  <div class="container pt-5">
    <h2>PHÒNG CỦA CHÚNG TÔI</h2>
    <P class="d-inline">PHÒNG YÊU THÍCH CỦA CHÚNG TÔI</P>
    <P class="float-end">XEM TẤT CẢ</P>

    <div class="row pt-4 ps-5">
      <div class="col-md-4">
        <div class="card rounded-0 text-center">
          <img src="/../assets/roomImage/room2.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">PHÒNG ĐƠN</p>
            <P>Tận hưởng phòng đơn của chúng tôi</P>
            <a routerLink='Register' class="btn btn-success">Đăng ký ngay</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded-0 text-center">
          <img src="/../assets/roomImage/room1.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">PHÒNG ĐÔI</p>
            <P>Tận hưởng phòng đôi của chúng tôi</P>
            <a routerLink='Register' class="btn btn-success">Đăng ký ngay</a>

          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card rounded-0 text-center">
          <img src="/../assets/roomImage/room4.jpg" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">PHÒNG VIP</p>
            <P>Tận hưởng phòng VIP của chúng tôi</P>
            <a routerLink='Register' class="btn btn-success">Đăng ký ngay</a>

          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="container pt-5">
    <h2 id="location" class="text-center">  Điểm đến phổ biến nhất</h2>
    <div class="row pt-4">
      <div class="col-4"><img src="/../assets/img_home_page/img1.jpg" alt="" class="w-100" height="200px"></div>
      <div class="col-4"><img src="/../assets/img_home_page/img2.jpg" alt="" class="w-100" height="200px"></div>
      <div class="col-4"><img src="/../assets/img_home_page/img3.jpg" alt="" class="w-100" height="200px"></div>
    </div>
    <div class="row pt-4">
      <div class="col-4"><img src="/../assets/img_home_page/img4.jpg" alt="" class="w-100" height="200px"></div>
      <div class="col-4"><img src="/../assets/img_home_page/img5.jpg" alt="" class="w-100" height="200px"></div>
      <div class="col-4"><img src="/../assets/img_home_page/img6.jpg" alt="" class="w-100" height="200px"></div>
    </div>
  </div>


  <div class="container-fluid pt-5  ">
    <h2 class="">BẢN TIN MỚI NHẤT</h2>
    <p>KIỂM TRA TIN TỨC MỚI NHẤT CỦA CHÚNG TÔI</p>
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6"><img src="/../assets/img_home_page/img6.jpg" alt="" class="w-100" height="150px"></div>
          <div class="col-sm-6">
            <p>10 LỜI KHUYÊN HỮU ÍCH CHO KÌ NGHỈ</p>
            <P>Một cuộc kiểm tra xem môi trường kinh tế và chính trị hiện tại đang ảnh hưởng như thế nào đến ngành chăm
              sóc sức khỏe tâm thần...</P>
              
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6"><img src="/../assets/img_home_page/img4.jpg" alt="" class="w-100" height="150px"></div>
          <div class="col-sm-6">
            <p>TUẦN TRĂNG MẬT TẠI KHÁCH SẠN</p>
            <P>Một cuộc kiểm tra xem môi trường kinh tế và chính trị hiện tại đang ảnh hưởng như thế nào đến ngành chăm
              sóc sức khỏe tâm thần...</P>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-4">
      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6"><img src="/../assets/img_home_page/img5.jpg" alt="" class="w-100" height="150px"></div>
          <div class="col-sm-6">
            <p>TẬN HƯỞNG KÌ NGHỈ CỦA BẠN</p>
            <P>Một cuộc kiểm tra xem môi trường kinh tế và chính trị hiện tại đang ảnh hưởng như thế nào đến ngành chăm
              sóc sức khỏe tâm thần..</P>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-sm-6"><img src="/../assets/img_home_page/img1.jpg" alt="" class="w-100" height="150px"></div>
          <div class="col-sm-6">
            <p>Ý TƯỞNG TẶNG QUÀ DU LỊCH</p>
            <P>Một cuộc kiểm tra xem môi trường kinh tế và chính trị hiện tại đang ảnh hưởng như thế nào đến ngành chăm
              sóc sức khỏe tâm thần...</P>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact section">

  <!-- Section Title -->
  <div data-aos="fade-up">
    <h2>Contact</h2>
    <p>Contact Us</p>
  </div><!-- End Section Title -->

  <div class="mb-5" data-aos="fade-up" data-aos-delay="200">
    <iframe style="border:0; width: 100%; height: 400px;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d48389.78314118045!2d-74.006138!3d40.710059!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a22a3bda30d%3A0xb89d1fe6bc499443!2sDowntown%20Conference%20Center!5e0!3m2!1sen!2sus!4v1676961268712!5m2!1sen!2sus" frameborder="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div><!-- End Google Maps -->

  <div class="container" data-aos="fade-up" data-aos-delay="100">

    <div class="row gy-4">

      <div class="col-lg-4">
        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-geo-alt flex-shrink-0"></i>
          <div>
            <h3>Location</h3>
            <p>A108 Adam Street, New York, NY 535022</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Open Hours</h3>
            <p>Monday-Saturday:<br>11:00 AM - 2300 PM</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-telephone flex-shrink-0"></i>
          <div>
            <h3>Call Us</h3>
            <p>+1 5589 55488 55</p>
          </div>
        </div><!-- End Info Item -->

        <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-envelope flex-shrink-0"></i>
          <div>
            <h3>Email Us</h3>
            <p>info@example.com</p>
          </div>
        </div><!-- End Info Item -->

      </div>

      <div class="col-lg-8">
        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
          <div class="row gy-4">

            <div class="col-md-6">
              <input type="text" name="name" class="form-control" placeholder="Your Name" required="">
            </div>

            <div class="col-md-6 ">
              <input type="email" class="form-control" name="email" placeholder="Your Email" required="">
            </div>

            <div class="col-md-12">
              <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
            </div>

            <div class="col-md-12">
              <textarea class="form-control" name="message" rows="6" placeholder="Message" required=""></textarea>
            </div>

            <div class="col-md-12 text-center">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">Your message has been sent. Thank you!</div>

              <button type="submit">Send Message</button>
            </div>

          </div>
        </form>
      </div><!-- End Contact Form -->

    </div>

  </div>

</section><!-- /Contact Section -->
  <!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<!-- <div id="preloader"></div> -->