<div class="text-center">
    <h2><span>Địa điểm</span> </h2>
</div>
<div>
    <div class="justify-content-between mt-4 d-flex btn-group">
        <button type="button" class="btn btn-light flex-grow-1" (click)="scrollToSection('bac')">Bắc</button>
        <button type="button" class="btn btn-light flex-grow-1" (click)="scrollToSection('trung')">Trung</button>
        <button type="button" class="btn btn-light flex-grow-1" (click)="scrollToSection('nam')">Nam</button>
    </div>
<section id="bac" class="mt-4">
    <h2>Khu vực miền Bắc</h2>
    <div class="container">
        <div class="row pt-4 ps-5">
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="font-weight-bold">VinTel Hà Nội</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Hải Phòng</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
      
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Hạ Long</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
      
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="container">
        <div class="row pt-4 ps-5">
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Sapa</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Sầm Sơn</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt Phòng</a>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text font-weight-bold">VinTel Cao Bằng</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt Phòng</a>
      
                </div>
              </div>
            </div>
          </div>
    </div>
    
  
    
</section>
<section id="trung" class="mt-4">
    <h2>Khu vực miền Trung</h2>
    <div class="container">
        <div class="row pt-4 ps-5">
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="font-weight-bold">VinTel Cửa Lò</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Cửa Hội</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
      
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Mỹ Khê</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
      
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="container">
        <div class="row pt-4 ps-5">
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Huế</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Đà Nẵng</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt Phòng</a>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text font-weight-bold">VinTel Quảng Bình</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt Phòng</a>
      
                </div>
              </div>
            </div>
          </div>
    </div>
</section>
<section id="nam" class="mt-4">
    <h2>Khu vực miền Nam</h2>
    <div class="container">
        <div class="row pt-4 ps-5">
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="font-weight-bold">VinTel Nha Trang</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Đà Lạt</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
      
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location7.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Phú Quốc</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
      
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="container">
        <div class="row pt-4 ps-5">
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Sài Gòn</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt phòng</a>
                </div>
              </div>
            </div>
      
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">VinTel Vũng Tàu</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt Phòng</a>
                </div>
              </div>
            </div>
    
            <div class="col-md-4">
              <div class="card rounded-0 text-center">
                <img src="/../assets/img_location/location5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text font-weight-bold">VinTel Bình Zương</p>
                  <P>Giá phòng: 790.000đ</P>
                  <a routerLink='Register' class="btn btn-success">Đặt Phòng</a>
      
                </div>
              </div>
            </div>
          </div>
    </div>
</section>

<div class="container mt-4">

  <div class="section-title">
    <h2><span>Bản đồ</span></h2>
    <p>Tìm kiếm chi nhánh khách sạn của chúng tôi dễ dàng trên bản đồ.</p>
  </div>
</div>

<div class="map">
  <iframe style="border:0; width: 100%; height: 350px;" 
  src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d94101.95220022384!2d105.7312699384953!3d18.795468639936068!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3139d37e85043a51%3A0x6a1c0d4869af5836!2sCua%20Lo%20Beach!5e0!3m2!1sen!2sus!4v1718607212708!5m2!1sen!2sus"
  frameborder="0" allowfullscreen></iframe>
</div>
</div>

