<section class="section profile">
    <div class="row">
        <div class="col-xl-4">

            <div class="card">
                <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                    <img src="{{ userData.image || '../../assets/user.png'}}" style="width: 100%;" alt="Profile">
                    <h2 >{{userData.fullName}}</h2>
                    <div class="social-links mt-2" style="color: black;">
                        <a routerLink="/" class="twitter me-1"><i class="bi bi-twitter"></i></a>
                        <a routerLink="/" class="facebook me-1"><i class="bi bi-facebook"></i></a>
                        <a routerLink="/" class="instagram me-1"><i class="bi bi-instagram"></i></a>
                        <a routerLink="/" class="linkedin me-1"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-xl-8">

            <div class="card">
                <div class="card-body pt-3">
                    <!-- Bordered Tabs -->
                    <ul class="nav nav-tabs nav-tabs-bordered">

                        <li class="nav-item">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Tổng
                                quan</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Sửa hồ sơ</button>
                        </li>

                        <li class="nav-item">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Đổi
                                mật khẩu</button>
                        </li>

                    </ul>

                    <div class="tab-content pt-2" >
                        <div class="tab-pane fade show active profile-overview" id="profile-overview">

                            <h5 class="card-title">Thông tin</h5>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label ">Họ tên</div>
                                <div class="col-lg-9 col-md-8">{{userData.fullName}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Ngày sinh</div>
                                <div class="col-lg-9 col-md-8">{{userData.birthday}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Email</div>
                                <div class="col-lg-9 col-md-8">{{userData.email}}</div>
                            </div>

                            <div class="row">
                                <div class="col-lg-3 col-md-4 label">Điện thoại</div>
                                <div class="col-lg-9 col-md-8">{{userData.phone}}</div>
                            </div>

                        </div>

                        
                        <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                            <!-- Profile Edit Form -->
                            <form>
                                <div class="row mb-3">
                                    <div class="col-12">
                                        <div class="col-12 mt-3">
                                            <div class="container" style="width: 200px; border: solid 1px;">
                                                <img src="{{image || '../assets/user.png'}}" alt="Image mt-2"
                                                    class="image" style="width: 100%;">

                                            </div>
                                        </div>
                                        <div class="col-12 mt-2 d-flex justify-content-center">
                                            <div class="col-6 ">
                                                <input class="form-control" type="file" id="formFileMultiple"
                                                    accept=".png,.jpg,.jpeg" (change)="onselectionFile($event)">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-6 row">
                                        <label for="fullName" class="col-12 col-form-label">Họ tên</label>
                                        <div class="col-12">
                                            <input name="fullName" type="text" class="form-control" id="fullName"
                                                [(ngModel)]="fullName">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-6 row">
                                        <label for="dayOfBirth" class="col-12 col-form-label">Ngày
                                            Sinh</label>
                                        <div class="col-12">
                                            <input name="dayOfBirth" type="date" class="form-control" id="dayOfBirth"
                                                [(ngModel)]="dateFormat">
                                        </div>
                                    </div>

                                    <div class="col-6 row">
                                        <label for="Email" class="col-12 col-form-label">Email</label>
                                        <div class="col-12">
                                            <input name="Email" type="text" class="form-control" id="Email"
                                                [(ngModel)]="userData.email" [readOnly]="true" [disabled]="true">
                                        </div>
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <div class="col-6 row">
                                        <label for="phoneNumber" class="col-12 col-form-label">Điện thoại</label>
                                    <div class="col-12">
                                        <input name="phoneNumber" type="text" class="form-control" id="phoneNumber"
                                            [(ngModel)]="phone">
                                    </div>
                                    </div>
                                    
                                </div>

                                <div class="text-center w-75">
                                    <button type="submit" class="btn btn-primary" (click)="updateAccount()"><i class="bi bi-calendar-check"></i> Lưu</button>
                                </div>
                            </form><!-- End Profile Edit Form -->

                        </div>

                       

                        <div class="tab-pane fade pt-3" id="profile-change-password">
                            <!-- Change Password Form -->
                            <form>

                                <div class="row mb-3">
                                    <label for="currentPassword" class="col-12 col-form-label">Mật khẩu hiện
                                        tại:</label>
                                    <div class="col-12">
                                        <input name="password" type="password" class="form-control" id="currentPassword"
                                            [(ngModel)]="currentPassword" [autocomplete]="false">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="newPassword" class="col-12 col-form-label">Mật khẩu
                                        mới:</label>
                                    <div class="col-12">
                                        <input name="newpassword" type="password" class="form-control" id="newPassword"
                                            [(ngModel)]="userData.password"  [autocomplete]="false">
                                    </div>
                                </div>

                                <div class="row mb-3">
                                    <label for="renewPassword" class="col-12 col-form-label">Xác
                                        nhận:</label>
                                    <div class="col-12">
                                        <input name="renewpassword" type="password" class="form-control"
                                            id="renewPassword" [(ngModel)]="confirmPassword"  [autocomplete]="false">
                                    </div>
                                </div>

                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary" (click)="changePassword()"><i class="bi bi-calendar-check"></i>
                                        Lưu</button>
                                </div>
                            </form><!-- End Change Password Form -->

                        </div>

                    </div><!-- End Bordered Tabs -->

                </div>
            </div>

        </div>
    </div>
</section>